# Project exclude paths
/aliPay_zhifu/target/
/dockertestmodule/target/
/es_search/target/
/file-downLoad/target/
/fremaker/target/
/jpa/target/
/jpush/target/
/jpush_info/target/
/JwtLogin/target/
/kfaka_elk_logback/target/
/leetcode/target/
/mongodb_demo/target/
/mqtt_test/target/
/multiDataSource/target/
/mvcparamtest/target/
/Netty/target/
/nettyssl/target/
/NIO/target/
/protobuf/target/
/rabbitMq_/target/
/reactor_demo/target/
/rocket_mq_demo/target/
/savePoint/target/
/spring_cloud_stream_test/target/
/spring_cloud_stream_test2/target/
/springQaz/target/
/theadpool/target/
/windows/target/
/zhifu_github/target/
/zkclient/target/
/zuul/target/